# Python virtual environment
Scripts/
Include/
Lib/
etc/
share/
pyvenv.cfg

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 